.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  &.mat-accent {
    background-color: rgb(224, 224, 5);
    color: rgb(0, 32, 11);
  }
  &.mat-warn {
    background-color: rgb(10, 177, 10);
  }
  &.mat-special {
    background-color: rgb(231, 105, 147);
    color: white;
  }
  &.mat-water {
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
  }
}
