.dc__button-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & .mat-button-base {
    margin: 8px 8px 8px 8px;
    border: 2px white solid;
    &._outline {
      border-color: #77d249;
      box-shadow: 1px 3px 3px 3px #d9dad9;
    }

    &.mat {
      &-protein {
        background-color: #feffde;
        color: rgb(42, 5, 110);
      }
      &-carbs {
        background-color: #d1deff;
        color: rgb(42, 5, 110);
      }
      &-fats {
        background-color: #ffdada;
        color: rgb(42, 5, 110);
      }
      &-yammi {
        background-color: #fedeff;
        color: rgb(42, 5, 110);
      }
      &-fiber {
        background-color: #d0ffcb;
        color: rgb(42, 5, 110);
      }
      &-water {
        background-color: cornflowerblue;
        color: rgb(255, 255, 255);
      }
    }
    &.mat-save {
      &:not(.mat-button-disabled) {
        background-color: #009018;
        color: rgb(255, 255, 255);
      }
    }
  }
}
.dc__record {
  padding: 0 10px;
}
._bold {
  font-weight: bold;
}
.dc_table {
  display: flex;
  flex-wrap: wrap;
  font-size: x-small;

  & ._weak {
    font-style: italic;
    font-weight: lighter;
    color: grey;
  }
}
.dc_rule-buttons {
  position: fixed;
  bottom: 0;
  & .mat-button-base {
    margin: 6px;
  }
}
